@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Assistant-Regular.ttf');
}

@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Assistant-SemiBold.ttf');
}

@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Assistant-Bold.ttf');
}

@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Assistant-ExtraBold.ttf');
}

@font-face {
    font-family: 'Cattieshine';
    font-style: normal;
    src: url('/fonts/Cattieshine.ttf');
}


:root {
    --white: hsl(0, 0%, 100%);
    --white-50: hsla(0, 0%, 100%, 0.5);
    --white-30: hsla(0, 0%, 100%, 0.3);

    --black: hsl(200, 100%, 5%);
    --black-50: hsla(200, 100%, 5%, 0.5);
    --black-30: hsla(200, 100%, 5%, 0.3);

    --blue: hsl(200, 100%, 50%);

    --navy: hsl(200, 25%, 15%);
}

/*********************************** themes ***********************************/
[data-theme="noire"],
html {
    --bg-color: var(--navy);
    --main-accent: var(--blue);
    --sub-accent: hsl(280, 100%, 50%);
    --text-color: var(--white);
    --subtext-color: var(--white-50);
    --disabled-color: var(--white-30);
    --preview-color: var(--black);
}

@media (prefers-color-scheme: dark) {
    [data-theme="detect"] {
        --bg-color: var(--navy);
        --main-accent: var(--blue);
        --sub-accent: hsl(280, 100%, 50%);
        --text-color: var(--white);
        --subtext-color: var(--white-50);
        --disabled-color: var(--white-30);
        --preview-color: var(--black);
    }
}

[data-theme="blanc"] {
    --bg-color: hsl(0, 0%, 100%);
    --main-accent: var(--blue);
    --sub-accent: hsl(97, 81%, 48%);
    --text-color: var(--black);
    --subtext-color: var(--black-50);
    --disabled-color: var(--black-30);
    --preview-color: hsl(200, 100%, 95%);
}

@media (prefers-color-scheme: light) {
    [data-theme="detect"] {
        --bg-color: hsl(0, 0%, 100%);
        --main-accent: var(--blue);
        --sub-accent: hsl(97, 81%, 48%);
        --text-color: var(--black);
        --subtext-color: var(--black-50);
        --disabled-color: var(--black-30);
        --preview-color: hsl(200, 100%, 95%);
    }
}
/******************************************************************************/


*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background 200ms;
}


html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--text-color);
}


a {
    text-decoration: none;
    color: var(--main-accent);
}


svg * {
    pointer-events: none;
}


.site-logo svg {
    display: block;
    width: 100%;
}


.page {
    padding-top: 5px; /* progress-bar height */
    min-height: 100vh;
}


@media all and (max-width: 480px) {

    body {
        font-size: 14px;
    }
}