<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Mary Louise Hermosa" />
        <meta name="description" content="I’m a front end web developer and web designer at ChannelFix.com and BPOSeats.com.  I specialize in UI design, and templating. Currently exploring new front end technologies." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="194x194" href="<%= BASE_URL %>icons/favicon-194x194.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>icons/android-chrome-192x192.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>icons/favicon-16x16.png" />
        <link rel="manifest" href="<%= BASE_URL %>site.webmanifest" />
        <link rel="mask-icon" href="<%= BASE_URL %>icons/safari-pinned-tab.svg" color="#00aaff" />
        <link rel="shortcut icon" href="<%= BASE_URL %>icons/favicon.ico" />
        <meta name="msapplication-TileColor" content="#1D2930" />
        <meta name="msapplication-TileImage" content="<%= BASE_URL %>icons/mstile-144x144.png" />
        <meta name="msapplication-config" content="<%= BASE_URL %>browserconfig.xml" />
        <meta name="theme-color" content="#1D2930" />

        <title>LouiseHermosa.com</title>
    </head>

    <body data-theme="detect">
        <div id="app"></div>
    </body>
</html>